[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ShankiG
[access "refs/for/refs/*"]
	read = group user/ShankiG
	push = group user/ShankiG
	label-Code-Review = -2..+2 group user/ShankiG
	label-Verified = -1..+1 group user/ShankiG
	rebase = group user/ShankiG
	removeReviewer = group user/ShankiG
	submit = group user/ShankiG
[access "refs/heads/*"]
	read = group user/ShankiG
	create = group user/ShankiG
	push = +force group user/ShankiG
	pushMerge = group user/ShankiG
[access "refs/tags/*"]
	push = group user/ShankiG
	push = +force group user/ShankiG
